<div class="mx-auto w-full max-w-sm">
    <div>
        {% block head %}
            <h2 class="mt-4 text-3xl leading-9 font-extrabold text-gray-900 dark:text-gray-50">
                {{ 'pageTitle'|trans }}<br>
                <span class="font-thin">{{ 'hostPortal'|trans }}</span>
            </h2>
            <p class="mt-2 text-sm leading-5 text-gray-600 dark:text-gray-200 max-w">Geben Sie Ihre hinterlegte
                E-Mail-Adresse ein, wenn Sie Ihr Passwort zurücksetzen wollen.</p>
        {% endblock head %}
    </div>

    <div class="mt-8">

        {{ form_start(form) }}
        <div class="space-y-6">
            {% for widget in form %}
                {{ form_row(widget) }}
            {% endfor %}
        </div>
        {{ form_end(form) }}

    </div>

    <div class="mt-6">
        {% include '@FerienpassHostPortal/components/back-link.html.twig' with {uri: '/'} %}
    </div>

    <div class="mt-12 flex justify-center">
        <a href="https://ferienpass.online" target="_blank"
           class="opacity-50 filter-grayscale hover:filter-none hover:opacity-100 transition duration-150">
            <img class="h-6"
                 src="{{ asset('img/ferienpass-logo.svg', 'ferienpass_core') }}" alt="">
        </a>
    </div>
</div>
