<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 lg:px-12 py-4 sm:py-6 md:py-12 lg:px-16">

    {% embed '@FerienpassHostPortal/fragment/_box_33_66.html.twig' with {
        'headline': 'twoFactor.headline'|trans,
        'caption': 'twoFactor.caption'|trans
    } %}
        {% trans_default_domain 'contao_default' %}
        {% block box %}
            {% if enable|default %}

                {% if message is defined %}
                    <div class="mb-4">
                        {% include '@FerienpassHostPortal/components/alert/error.html.twig' with {'message': message} %}
                    </div>
                {% endif %}

                <p class="text-base text-gray-900 font-medium">{{ 'MSC.twoFactorScan'|trans }}</p>

                {{ form_start(form) }}

                <div class="flex py-4 justify-center">
                    <img src="data:image/svg+xml;base64,{{ qrCode }}" alt>
                </div>
                <div class="mt-4">
                    <p class="text-sm text-gray-500 leading-5">{{ 'MSC.twoFactorTextCode'|trans }}</p>
                    <code class="text-xs text-gray-500 leading-tight font-medium"
                          style="word-break:break-all">{{ secret }}</code>
                </div>
                <div class="mt-6">
                    {{ form_row(form.verify) }}
                </div>
                <div class="mt-4">
                    {{ form_row(form.submit) }}
                </div>

                {{ form_end(form) }}

            {% elseif app.user.useTwoFactor %}

                {% include '@FerienpassHostPortal/components/alert/confirm.html.twig' with {'message': 'MSC.twoFactorActive'|trans} %}

                <div class="mt-8">
                    {{ form(disable) }}
                </div>

                <div class="mt-8">
                    <h3 class="text-base font-medium leading-5 text-gray-900 mb-4">{{ 'MSC.trustedDevices'|trans }}</h3>

                    {% if not trustedDevices %}
                        {% include '@FerienpassHostPortal/components/alert/info.html.twig' with {'message': 'MSC.noTrustedDevices'|trans } %}
                    {% else %}

                        <div class="flex flex-col">
                            <div class="shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                                <table class="min-w-full">
                                    <thead>
                                    <tr>
                                        <th class="px-4 py-2 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                            {{ 'MSC.device'|trans }}
                                        </th>
                                        <th class="px-4 py-2 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                            {{ 'MSC.browser'|trans }}
                                        </th>
                                        <th class="px-4 py-2 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                            {{ 'MSC.operatingSystem'|trans }}
                                        </th>
                                        <th class="px-4 py-2 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                            {{ 'MSC.createdOn'|trans }}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for trustedDevice in trustedDevices %}
                                        <tr class="{% if loop.index is odd %}bg-white{% else %}bg-gray-50{% endif %}">
                                            <td class="px-4 py-2 whitespace-no-wrap text-sm leading-5 font-medium">
                                                {{ trustedDevice.deviceFamily }}
                                            </td>
                                            <td class="px-4 py-2 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                                {{ trustedDevice.uaFamily }}
                                            </td>
                                            <td class="px-4 py-2 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                                {{ trustedDevice.osFamily }}
                                            </td>
                                            <td class="px-4 py-2 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                                {{ trustedDevice.created.format('d.m.Y H:i') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="mt-6">
                            {{ form(clear) }}
                        </div>

                    {% endif %}
                </div>
            {% else %}
                <p class="text-gray-700 text-sm leading-5">{{ 'MSC.twoFactorExplain'|trans }}</p>
                <div class="mt-4">
                    {% include '@FerienpassHostPortal/components/button-primary.html.twig' with {
                        'uri': path(app.request.get('_route'), {'2fa':'enable'}),
                        'link': 'MSC.enable'|trans } %}
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

</div>
